sudo: false

branches:
  only:
  - master

language: node_js

matrix:
  include:
    - node_js: "4"
    - node_js: "6"
      env: COVERALLS=1
    - node_js: "8"

before_install:
    npm install -g npm@4;
    npm -v;

install:
  - npm install
  - lerna bootstrap

after_success:
  - if [ "x$COVERALLS" = "x1" ]; then
      npm i coveralls;
      nyc report --reporter=text-lcov | coveralls;
    fi
