environment:
  matrix:
    - nodejs_version: "0.10"
    - nodejs_version: "0.11"

install:
 - "npm install"

test_script:
 - "node --version"
 - "npm --version"
 - "npm run unit"

build: "off"

version: "{build}"
