sudo: false

language: node_js

matrix:
  include:
    - node_js: "4"
    - node_js: "6"
      env: COVERALLS=1

after_success:
  - if [ "x$COVERALLS" = "x1" ] && npm i coveralls; then
      npm run cover && nyc report --reporter=text-lcov | coveralls;
    fi
