html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

.App {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.App__editor {
    position: absolute;
    width: 50%;
    height: 90%;
}

.App__editor.jsx {
    left: 50%;
}
